/* App */

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(4, 6, 27);
  color: white;
  font-family: monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

svg {
  fill: currentColor;
}

/* Page */

.frame {
  /* Container */
  display: grid;
  grid-template-columns: 1rem auto 1rem;
  grid-template-rows: 1rem auto 1rem;
  
  /* Defaults */
  font-size: 16px;
}

.frame-item {
  /* Placement */
  grid-column: 2;
  grid-row: 2;
}

.nav {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 24px;
}

.home-link {
  color: #fd8953;
}

.prev-link {
  color: #fdde53;
}