.md > h1 {
  font-size: 28px;
}

.md > h2 {
  font-size: 24px;
}

.tweak,
.md > * code,
.md > * li,
.md > p {
  font-size: 18px;
}

.md > pre {
  color: white;
}

.md > a,
.md > * a {
  text-decoration: underline;
}
