.component {
  margin-bottom: 48px;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 180px);
  row-gap: 24px;
}

.container-item {
  justify-self: center;
}

.file-item {
  text-align: center;
}
